extends layout

block content
      .jumbotron
          .container
              h1 Gaurav Gogia
              img.image(src='../images/me.jpg' )
              p
              p Hi!  Pleased to make your acquaintance
              a.btn.btn-primary.btn-lg(href='/About') Know More &raquo;
      .container
          .row
              .col-md-4
                  h2 About Me
                  p A student, a developer and an aspiring writer. One who sips curiosity and eats knowledge for breakfast. And has one dream, that being "Making the world a better place"
                  a.btn.btn-default(href='/About') View Details
              .col-md-4
                  h2 Projects
                  p I have got some projects of my own and most of them are available on my github profile. Why not see it for yourself? :)
                  a.btn.btn-default(href='https://github.com/DesmondANIMUS') View Details
              .col-md-4
                  h2 Curriculum Vitae
                  p And like every aspiring professional out in the world, I decided to make a CV for myself as well. I sure hope you like it :)
                  a.btn.btn-default(href='../CV.pdf') View Details